#animationUpdateTbl {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 500px;
	height: 70px;
	text-align: center;
	border-radius: 10px;
	font-size: 20pt;
	font-weight: 900;
	background-color: #ffbc40;
	color: white;
}

#animationTbl{
	margin-top:0px;
	width: 890px;
	height: 300px;
	box-shadow: 10px 10px 5px #cccccc;
}

#animationTbl img{
	width: 170px;
	height: 250px;
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 5px;
	margin-bottom: 5px;
}

#animationTbl button{
	width: 100px;
	height: 35px;
	background-color: white;
	border: 1px solid black;
	font-weight: 900;
	font-size: 12pt;
}

#animationTbl2{
	margin-top:35px;
	width: 890px;
	height: 30px;
	background-color: #ff5757;
}

#animationGenreTbl{
	margin-top:70px;
}

#genreTbl1{
	background-color: #f7718e;
	border-radius: 10px;
	color: white;
	font-size:15pt;
	font-weight: 900;
}
#genreTbl2{
	background-color: #2497f4;
	border-radius: 10px;
	color: white;
	font-size:15pt;
	font-weight: 900;
}
#genreTbl3{
	background-color: #ff4040;
	border-radius: 10px;
	color: white;
	font-size:15pt;
	font-weight: 900;
}
#genreTbl4{
	background-color: #5fc63c;
	border-radius: 10px;
	color: white;
	font-size:15pt;
	font-weight: 900;
}
#genreTbl5{
	background-color: #64cacc;
	border-radius: 10px;
	color: white;
	font-size:15pt;
	font-weight: 900;
}

#animationRegTbl{
	width: 450px;
	height: 350px;
	text-align: center;
	border: 2px solid black;
}
#animationRegTbl button{
	width: 100px;
	height: 30px;
	background-color: white;
}

#regtxt{
	width: 90%;
	height: 100%;
}

#regtitle{
	width: 350px;
	height: 25px;
}

#animationUpTbl{
	width: 890px;
	height: 600px;
	box-shadow: 10px 10px 5px #cccccc;
	text-align: center;
}
#animationUpTbl2{
	width: 890px;
	height: 35px;
	background-color: #1f4469;
}

#animationUpTbl textarea{
	width: 90%;
	height: 150px;
}

#animationUpTbl button{
	width: 150px;
	height: 35px;
	background-color: white;
	border: 1px solid black;
	font-size: 12pt;
	font-weight: 900;
}

#upinput1{
	width: 300px;
	height: 25px;
}






















