
#homePageTbl {
	margin-left: auto;
	margin-right: auto;
}

#loginPageTbl2{
	margin-top: 55px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffb76f;
}

#loginPageTbl {
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	box-shadow: 10px 10px 5px #cccccc;
}

#loginPageTbl button{
	font-size:14pt;
	background-color: white;
	border: 1px solid black;
}

#joinPageTbl{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 350px;
	height: 350px;
	border: 1px solid black;
}

#joinPageTbl button{
	font-size:12pt;
	background-color: white;
	border: 1px solid black;
}

#login1{
	text-align: center;
	margin-top: -240px;
	margin-left: 50px;
}

.loginTbl1{
	font-size: 20px;
	font-weight: 1000;
	color: white;
}

#loginInfoTbl {
	margin-left: auto;
	margin-right: auto;
	width: 450px;
	height: 500px;
	text-align: center;
	box-shadow: 10px 10px 5px #cccccc;
}

#loginInfoTbl2{
	height:30px;
	margin-left: auto;
	margin-right: auto;
	width: 450px;
	background-color: #1e4062;
}

#loginSuccessTbl{
	width: 300px;
	margin-left:50px;
	box-shadow: 10px 10px 5px #cccccc;
}

#loginSuccessTbl2{
	margin-left:60px;
	width: 290px;
	height: 20px;
	background-color:#303f58; 
}





