#homePageTbl {
	margin-left: auto;
	margin-right: auto;
}

#loginPageTbl {
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#joinPageTbl{
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}