#homePageTbl {
	margin-left: auto;
	margin-right: auto;
}

#loginPageTbl {
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#joinPageTbl{
	margin-top: 120px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#login1{
	text-align: center;
	margin-top: -240px;
	margin-left: 50px;
}

.loginTbl1{
	font-size: 20px;
	font-weight: 1000;
	color: white;
}