#reviewRegTbl {
	margin-top: -10px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 70px;
	text-align: center;
	background-color: #e08827;
	border-radius: 20px;
	color: white;
	font-size: 18pt;
	font-weight: 1000;
}

#reviewTbl{
	margin-top:35px;
	width: 500px;
	height: 300px;
	box-shadow: 5px 5px 5px 5px gray;
}

#reviewTbl img{
	width: 170px;
	height: 250px;
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 5px;
	margin-bottom: 5px;
}

#reviewTbl button{
	width: 120px;
	height: 30px;
	background-color: white;
	font-size: 12pt;
	font-weight: 900;
	border: 1px solid black;
}

#reviewUpdateTbl{
	text-align: center;
	width: 500px;
	height: 300px;
	box-shadow: 5px 5px 5px gray;
}

#reviewUpdateTbl2{
	width: 685px;
	height: 35px;
	background-color: #0e2241;
}

#reviewUpdateTbl textarea{
	width: 435px;
	height: 330px;
}

#reviewUpdateTbl button{
	width: 100px;
	height: 30px;
	background-color: white;
	font-size: 12pt;
	font-weight: 900;
	border: 1px solid black;
	margin-bottom: 10px;
}

#updateReviewInput1{
	width: 670px;
	height: 20px;
}

#RegReviewtbl{
	width: 600px;
	height: 450px;
	text-align: center;
	box-shadow: 5px 5px 5px gray;
}

#RegReviewtbl2{
	width: 600px;
	height: 35px;
	background-color: #243a53;
}

#RegReviewtbl textarea{
	width:95%;
	height: 350px;
}

#RegReviewInput1{
	width: 530px;
	height: 25px;
}









