#homePageTbl{
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}
#homefirstTbl{
	background-color: #243a53;
	width:100%;
	height: 50px;
}

#menuTbl {
	margin-left: auto;
	margin-right: auto;
	margin-top: 55px;
}

#homePage {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

#joinPageTbl {
	margin-left: auto;
	margin-right: auto;
}

#CommunityRegTbl{
	margin-top: 30px;
	text-align: center;
}

body{
	background-color:white;
}

#menuTbl{
	background-color:#243a53; 
	
}
#menuTbl a{
	font-size: 22px;
	font-weight: 1000;
	color: white;
}
#indexmenu1{
	border:5px solid orange;
	border-left: 2px;
	border-bottom: 2px;
	border-top: 2px;
	width: 250px;
}

#indexmenu2{
	border:5px solid orange;
	border-left: 2px;
	border-bottom: 2px;
	border-top: 2px;
	width: 250px;
}
#indexmenu3{
	border:5px solid orange;
	border-left: 2px;
	border-bottom: 2px;
	border-top: 2px;
	width: 250px;
}
#indexmenu4{
	width: 250px;
}

#firsthomeTbl{
	margin-top: 0px;
	background-color: #ef5f5a;
}

#homeTbl1 {
	margin-top: 30px;
}

#homeTbl1 img{
	width: 600px;
}

#homeTbl2 {
	margin-top: 30px;
}
#secondhomeTbl {
	margin-top: 30px;
	background-color: #ec9d46;
	color:white;
}

#homeTbl3 {
	margin-top: 30px;
}

.homeTbl3Design{
	box-shadow: 10px 10px 5px #cccccc;
}

.homeanime{
	font-weight: 700;
}

#homeTbl5{
	text-align: left;
	margin-top: 30px;
	box-shadow: 10px 10px 5px #cccccc;
}

#homeTbl6{
	margin-top: 30px;
}

#homeTbl7{
	margin-top: 30px;
}

#homeTbl8{
	margin-top: 30px;
	background-color: #243a53;
	color: white;
}














