#homePageTbl {
	margin-left: auto;
	margin-right: auto;
}

#menuTbl {
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

#homePage {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

#loginPageTbl {
	margin-left: auto;
	margin-right: auto;
}

#joinPageTbl {
	margin-left: auto;
	margin-right: auto;
}